.button1{            
        background-color: rgb(200, 0, 0);     
        color: white;     
        border: none;     
        padding-top: 10px;    
        padding-bottom: 10px;    
        padding-left: 20px;    
        padding-right: 20px;    
        border-radius: 4px;    
        cursor: pointer;    
        transition: opacity 0.15s;    
        display: inline-block;    
        font-family: Arial;}        
        
        .button1:active{       
            opacity: 0.7;}    
            
            .button1:hover{        
                text-decoration: underline;        
                opacity: 0.89;}                
                
                .button2 {    
                    background-color: rgb(2, 158, 255);    
                    color: white;    
                    border: none;    
                    padding-top: 10px;    
                    padding-bottom: 10px;    
                    padding-left: 18.5px;    
                    padding-right: 18.5px;   
                    border-radius: 18px;    
                    font-weight: bold;    
                    font-size: 15px;    
                    cursor: pointer;    
                    margin-left: 0;   
                    transition: box-shadow 0.15s, color 0.15s, backround-color 0.15s, opacity 0.15s;    
                    display: inline-block;    
                    font-family: Arial;}
                    
                    .blue-button {  
                        font-family:"Open Sans", Helvetica, sans-serif;  
                        font-weight: bold;  
                        font-size: 14.5px;  
                        border-radius: 3px;  
                        cursor: pointer;  
                        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);    
                        display: inline-block;    
                        padding-top: 10px;    
                        padding-bottom: 10px;    
                        padding-left: 20px;    
                        padding-right: 20px;    
                        border-radius: 4px;    
                        background-color: #7289da;  
                        border: 2px solid #7289da;  
                        color: #fff;}
                        
                        .button2:hover{
                            opacity: 0.9 ;
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);}
                            
                            .button3 {    
                                width: 40px;    
                                vertical-align: top;}
                                
                                .button4 {   
                                    font-family:"Open Sans", Helvetica, sans-serif;  
                                    font-weight: bold;  
                                    font-size: 14.5px;  
                                    border-radius: 3px;  
                                    cursor: pointer;  
                                    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);   
                                    display: inline-block;   
                                     padding-top: 10px;    
                                     padding-bottom: 10px;    
                                     padding-left: 20px;    
                                     padding-right: 20px;    
                                     border-radius: 4px;    
                                     background-color: #3B5998;  
                                     border: 2px solid #3B5998;  
                                     color: #fff;}
                                     
                                     a {    
                                        text-decoration: none;
                                    margin-right: 8px;}
                                        
                                        
                                        .button5 {   
                                            font-family:"Open Sans", Helvetica, sans-serif;  
                                            font-weight: bold;  
                                            font-size: 14.5px;  
                                            border-radius: 3px;  
                                            cursor: pointer;  
                                            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);    
                                            display: inline-block;    padding-top: 10px;    
                                            padding-bottom: 10px;    padding-left: 20px;    
                                            padding-right: 20px;    border-radius: 4px;    
                                            background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                                            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                                            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );  
                                            color:white;}
                                            
                                            .button6 {
                                                font-family:"Open Sans", Helvetica, sans-serif;  
                                                font-weight: bold;  
                                                font-size: 14.5px;  
                                                border-radius: 3px;  
                                                cursor: pointer;  
                                                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);    
                                                display: inline-block;    
                                                padding-top: 10px;    
                                                padding-bottom: 10px;    
                                                padding-left: 20px;    
                                                padding-right: 20px;    
                                                border-radius: 4px;    
                                                background-color: #0072b1;  
                                                border: 2px solid #0072b1;  
                                                color: #fff;}  

                                                .button7 {
                                                    font-family:"Open Sans", Helvetica, sans-serif;  
                                                    font-weight: bold;  
                                                    font-size: 14.5px;  
                                                    border-radius: 3px;  
                                                    cursor: pointer;  
                                                    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);    
                                                    display: inline-block;   
                                                    padding-top: 10px;    
                                                    padding-bottom: 10px;    
                                                    padding-left: 20px;    
                                                    padding-right: 20px;    
                                                    border-radius: 4px;    
                                                    color: #fff;    
                                                    background-color: #ff0050;}
                                                    
                                                    .button8 {
                                                        font-family:"Open Sans", Helvetica, sans-serif;  
                                                        font-weight: bold;  
                                                        font-size: 14.5px;  
                                                        border-radius: 3px;  
                                                        cursor: pointer;  
                                                        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);    
                                                        display: inline-block;    
                                                        padding-top: 10px;    
                                                        padding-bottom: 10px;    
                                                        padding-left: 20px;    
                                                        padding-right: 20px;    
                                                        border-radius: 4px;    
                                                        background-color: #f00d2a;  
                                                        border: 2px solid #f00d2a;  
                                                        color: #fff;}

                                                        a:hover {
                                                        opacity: 0.9 ;
                                                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
                                                        transition: opacity 0.15s, box-shadow 0.15s;
                                                        }
                                                        p {
                                                            display: inline-block;
                                                            margin-right: 33px;
                                                        }
                                                        .button9 {
                                                            padding: 6px 24px;
                                                            border: 2px solid #fff;
                                                            background: transparent;
                                                            border-radius: 6px;
                                                            cursor: pointer;
                                                          }
                                                          .button9:active {
                                                            transform: scale(0.94
                                                            );
                                                          }
                                                          .button9:hover{
                                                            background-color: #fff;
                                                            color: #000;
                                                            transition: backround-color 1s, color 1s;
                                                          }

                                                            .nav_logo, .nav_link, .button9 {
                                                                color: #000000;
                                                            }
                                                            
                                                            .button9 {
                                                                margin: 0;
                                                                padding: 0;
                                                                box-sizing: border-box;
                                                                font-family: "Poppins", sans-serif;}
                                                                .button10{            
                                                                    background-color: (#25D366);     
                                                                    color: white;     
                                                                    border: none;     
                                                                    padding-top: 10px;    
                                                                    padding-bottom: 10px;    
                                                                    padding-left: 20px;    
                                                                    padding-right: 20px;    
                                                                    border-radius: 4px;    
                                                                    cursor: pointer;    
                                                                    transition: opacity 0.15s;    
                                                                    display: inline-block;    
                                                                    font-family: Arial;}        
                                                                    
                                                                    .button10:active{       
                                                                        opacity: 0.7;}    
                                                                        
                                                                        .button10:hover{        
                                                                            text-decoration: underline;        
                                                                            opacity: 0.89;}  